/* CSS Variables */
:root {
	/* Frosted Color Palette */
	--dark-gray: #2b3a3e;
	--gray: #455768;
	--light-gray: #748891;
	--light-blue: #a6c7d5;
	--alice-blue: #dcecf6;
	--white: #e6e6e6;
}

/* Base CSS */
* {
	box-sizing: border-box;
}

body {
	font-size: 1.2em;
	margin: 0;
	padding: 2em;
	height: 100%;
	background-color: var(--white);
}
main {
	display: block;
	max-width: 30em;
	border-radius: 1em;
	margin: 0 auto;
	text-align: center;
	padding: 2em;
	font-family: sans-serif;
	color: var(--alice-blue);
}

/* Main Content Border */
main {
	background-color: var(--light-gray);
}

/* Title Content */
#profile-picture {
	border-radius: 50%;
	height: 8.7em;
	border: solid var(--alice-blue);
}

#name {
	text-transform: uppercase;
	margin-top: 0.5em;
	margin-bottom: 0px;
}

/* Divider */
.divider {
	border-top: 1px dotted var(--alice-blue);
	margin: 2em;
}

/* Links */
.links-container > ul {
	padding-left: 0;
	list-style: none;
}
.links-container > li {
	line-height: 170%;
	margin-top: 10px;
	margin-bottom: 10px;
}

/* Link Buttons */
.links > li {
	background-color: var(--light-blue);

	/* border: 3px soild var(--dark-gray); */
	border-radius: 8px;
	border-width: 3px;
	border-style: solid;
	border-color: var(--dark-gray);

	margin-bottom: 8px;

	padding-top: 5px;
	padding-bottom: 5px;
}
.links > li:hover,
.links > li:focus {
	background-color: var(--alice-blue);
}

.links > a {
	text-decoration: none;
}

/* Icons */
.icons {
	width: 1em;
	height: 1em;
	vertical-align: -0.125em;
	fill: var(--gray);
}
.contact-icons {
	width: 2em;
	height: 2em;
	vertical-align: -0.125em;
	fill: var(--gray);
}

/* Contact */
.contact-container {
	display: grid;
	grid-template-columns: 1em 1fr 1fr 1em;
	grid-template-areas:
	". contact-discord contact-email .";
}
