/* CSS Variables */
:root {
	/* Frosted Color Palette */
	--dark-gray: #2b3a3e;
	--gray: #455768;
	--light-gray: #748891;
	--light-blue: #a6c7d5;
	--alice-blue: #dcecf6;
	--white: #e6e6e6;
}

/* Base CSS */
* {
	box-sizing: border-box;
}

body {
	margin: 0;
	padding: 2em;
	height: 100%;
	background-color: var(--white);
}
main {
	display: block;
	max-width: 30em;
	border-radius: 1em;
	margin: 0 auto;
	text-align: center;
	padding: 2em;
	font-family: sans-serif;
}

/* Divider */
.divider {
	border-top: 1px dotted var(--alice-blue);
	margin: 2em;
}

/* Images */
#commissions-open-image,
#commissions-half-body-gif {
	border: 2px solid var(--gray);
}

#commissions-open-image {
	height: 15em;
	width: max-content;
}

#commissions-half-body-gif {
	height: 10em;
	width: 10em;

	border-radius: 50px;
}

/* Commission Types Section */
.commission-types {
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-template-areas:
		". .";
}

/* Lists General */
ul {
	padding-left: 0;
}

li {
	margin-top: 1px;
}

/* Commission Call to Action */
.call-to-action {
	font-size: xx-large;
}

.commission-button {
	font-size: x-large;
}

.reply-note {
	font-size: x-small;
}
